In this approach I'm trying to kind of expand on the idea from the "2_trading_aggregation" notebook but with the idea that fresher news are more important, so I want to try to add weights and see if that changes my results.

In [2]:
import sys
sys.path.append("../src")


import pandas as pd
from weighted_lag_features import add_weighted_lag_feature

In [3]:
df = pd.read_csv("../data/preprocessed/base_trading_days_backfill.csv")
df.columns

Index(['Date', 'avg_positive_global', 'avg_neutral_global',
       'avg_negative_global', 'n_headlines', 'sent_index_global',
       'is_trading_day'],
      dtype='object')

In [4]:
df = df.drop(columns=["is_trading_day"])
df.head()

,Date,avg_positive_global,avg_neutral_global,avg_negative_global,n_headlines,sent_index_global
0,2018-03-20,0.186842,0.466275,0.346883,81,-0.160042
1,2018-03-21,0.176286,0.497613,0.326101,87,-0.149815
2,2018-03-22,0.193766,0.449283,0.356951,100,-0.163184
3,2018-03-23,0.221206,0.412813,0.365981,79,-0.144774
4,2018-03-26,0.168985,0.501535,0.329480,129,-0.160494

In [5]:
weights_3 = [0.6, 0.3, 0.1]
weights_5 = [0.4, 0.25, 0.15, 0.1, 0.1]

In [8]:
df = add_weighted_lag_feature(df, "sent_index_global", weights_3, "sent_index_w3")
df = add_weighted_lag_feature(df, "sent_index_global", weights_5, "sent_index_w5")
df.head()

,Date,avg_positive_global,avg_neutral_global,avg_negative_global,n_headlines,sent_index_global,sent_index_w3,sent_index_w5
0,2018-03-20,0.186842,0.466275,0.346883,81,-0.160042,NaN,NaN
1,2018-03-21,0.176286,0.497613,0.326101,87,-0.149815,NaN,NaN
2,2018-03-22,0.193766,0.449283,0.356951,100,-0.163184,-0.157288,NaN
3,2018-03-23,0.221206,0.412813,0.365981,79,-0.144774,-0.153322,NaN
4,2018-03-26,0.168985,0.501535,0.329480,129,-0.160494,-0.157392,-0.156475

In [10]:
df.to_csv("../data/preprocessed/base_trading_days_lagged_features.csv", index=False)