In [11]:
import sys
sys.path.append("../src")

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sector_specific_sentiment import compute_sector_daily

In [12]:
df = pd.read_csv("../data/preprocessed/headlines/headlines_finbert.csv")
xle_prices = pd.read_csv("../data/preprocessed/etfs/XLE_preprocessed.csv")

In [13]:
print(df.info())
print(xle_prices.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51122 entries, 0 to 51121
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 51122 non-null  object
 1   Headlines            51122 non-null  object
 2   Newspaper            51122 non-null  object
 3   XLE                  51122 non-null  int64
 4   XLF                  51122 non-null  int64
 5   XLK                  51122 non-null  int64
 6   XLV                  51122 non-null  int64
 7   XLY                  51122 non-null  int64
 8   positive             51122 non-null  float64
 9   neutral              51122 non-null  float64
 10  negative             51122 non-null  float64
 11  finbert_label        51122 non-null  object
 12  finbert_confidence   51122 non-null  float64
 13  avg_positive_global  51122 non-null  float64
 14  avg_neutral_global   51122 non-null  float64
 15  avg_negative_global  51122 non-null  float64
 16  n_headlines          51122 non-null  int64
 17  sent_index_global    51122 non-null  float64
dtypes: float64(8), int64(6), object(4)
memory usage: 7.0+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 587 entries, 0 to 586
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    587 non-null    object
 1   Price   587 non-null    float64
 2   Return  586 non-null    float64
 3   Sign    586 non-null    float64
dtypes: float64(3), object(1)
memory usage: 18.5+ KB
None

In [14]:
df["Date"] = pd.to_datetime(df["Date"]).dt.normalize()
xle_prices["Date"] = pd.to_datetime(xle_prices["Date"]).dt.normalize()

In [15]:
print(df.info())
print(xle_prices.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51122 entries, 0 to 51121
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 51122 non-null  datetime64[ns]
 1   Headlines            51122 non-null  object
 2   Newspaper            51122 non-null  object
 3   XLE                  51122 non-null  int64
 4   XLF                  51122 non-null  int64
 5   XLK                  51122 non-null  int64
 6   XLV                  51122 non-null  int64
 7   XLY                  51122 non-null  int64
 8   positive             51122 non-null  float64
 9   neutral              51122 non-null  float64
 10  negative             51122 non-null  float64
 11  finbert_label        51122 non-null  object
 12  finbert_confidence   51122 non-null  float64
 13  avg_positive_global  51122 non-null  float64
 14  avg_neutral_global   51122 non-null  float64
 15  avg_negative_global  51122 non-null  float64
 16  n_headlines          51122 non-null  int64
 17  sent_index_global    51122 non-null  float64
dtypes: datetime64[ns](1), float64(8), int64(6), object(3)
memory usage: 7.0+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 587 entries, 0 to 586
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    587 non-null    datetime64[ns]
 1   Price   587 non-null    float64
 2   Return  586 non-null    float64
 3   Sign    586 non-null    float64
dtypes: datetime64[ns](1), float64(3)
memory usage: 18.5 KB
None

In [16]:
daily_xle = compute_sector_daily(df, "XLE", min_headlines=1)
daily_xle.head()

,Date,avg_positive_XLE,avg_neutral_XLE,avg_negative_XLE,n_XLE,sent_index_XLE
0,2018-03-20,0.617495,0.364768,0.017737,3,0.599758
1,2018-03-21,0.072957,0.896156,0.030887,2,0.042071
2,2018-03-22,0.088483,0.875179,0.036338,2,0.052145
3,2018-03-23,0.427724,0.518749,0.053528,2,0.374196
4,2018-03-25,0.570338,0.409546,0.020116,1,0.550221

In [17]:
merged_xle = xle_prices.merge(daily_xle, on="Date", how="left")
merged_xle.head()

,Date,Price,Return,Sign,avg_positive_XLE,avg_neutral_XLE,avg_negative_XLE,n_XLE,sent_index_XLE
0,2018-03-20,47.900124,NaN,NaN,0.617495,0.364768,0.017737,3.0,0.599758
1,2018-03-21,49.154427,0.026186,1.0,0.072957,0.896156,0.030887,2.0,0.042071
2,2018-03-22,48.150974,-0.020414,-1.0,0.088483,0.875179,0.036338,2.0,0.052145
3,2018-03-23,47.857117,-0.006103,-1.0,0.427724,0.518749,0.053528,2.0,0.374196
4,2018-03-26,48.717216,0.017972,1.0,0.031437,0.548499,0.420064,2.0,-0.388626

In [18]:
data = df.merge(merged_xle, on="Date", how="left")
data.head()

,Date,Headlines,Newspaper,XLE,XLF,XLK,XLV,XLY,positive,neutral,...,n_headlines,sent_index_global,Price,Return,Sign,avg_positive_XLE,avg_neutral_XLE,avg_negative_XLE,n_XLE,sent_index_XLE
0,2018-03-20,"Cramer: Trump, the Fed and the cloud can get t...",cnbc,0,0,1,0,0,0.381990,0.606314,...,81,-0.160042,47.900124,NaN,NaN,0.617495,0.364768,0.017737,3.0,0.599758
1,2018-03-20,G20 financial leaders say need more dialogue o...,reuters,0,0,0,0,0,0.259833,0.077557,...,81,-0.160042,47.900124,NaN,NaN,0.617495,0.364768,0.017737,3.0,0.599758
2,2018-03-20,Index provider MSCI says it is reviewing Faceb...,reuters,0,0,0,0,0,0.018125,0.884106,...,81,-0.160042,47.900124,NaN,NaN,0.617495,0.364768,0.017737,3.0,0.599758
3,2018-03-20,UK's Cambridge University questions Facebook a...,reuters,0,0,0,0,0,0.032822,0.651042,...,81,-0.160042,47.900124,NaN,NaN,0.617495,0.364768,0.017737,3.0,0.599758
4,2018-03-20,"Exclusive: On Amazon, a quarter of merchants' ...",reuters,0,0,0,0,1,0.038724,0.937915,...,81,-0.160042,47.900124,NaN,NaN,0.617495,0.364768,0.017737,3.0,0.599758

!Remember about lag